<!DOCTYPE html>

{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}About{% endblock %}

{% block body_block %}
		{% if visits %}
			Visits of this page = {{ visits }}
		{% endif %}
		
        <h1>Praxitelis says...</h1>
        hello world! <strong>{{ boldmessage }}</strong><br />
        <img src="{% static "images/Prax_the_Image.jpg" %}" alt="Picture of Praxitelis Branko Kourtelos" /> 
		<br/>This tutorial has been put together by Praxitelis Branko Kourtelos,2060408k<br/>
{% endblock %}

</html>